.workspace {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  display: flex;
  flex-direction: column;
  position: relative;

  .statusBar {
  }

  .desktopGrid {
    height: 100%;
  }

  .pageIndicator {
  }

  .dockBar {
  }
}
